/*Top navigation menu*/
.menu {
	padding-top: 7px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.menu ul li {
	position: relative;
	display: inline;
	float: left;
}
.menu ul li a {
	display: block;
	width: 80px;
	height: 31px;
	line-height: 13px;
	padding: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #d6d6ce;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	text-align: center;
}
.menu ul li a:hover {
	color: #3388FF;
}
.separator {
	background: #fff;
	margin-left: 5%;
	margin-right: 5%;
	width: 50em;
	background-color: #d6d6ce;
	height: 2px;
}
#header_wrapper {
	width: 100%;
	height: 63px;
	background: url(header_background.jpg) repeat-x top;
	position: absolute;
}
#header {
	width: 660px;
	margin: 0 auto;
	padding: 10px;
}
#menu {
	float: right;
}
#site_title {
	float: left;
}
#site_title a {
	display: block;
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	line-height: 40px;
}
#site_title a span {
	color: #d6d6ce;
}
#site_title a:hover {
	text-decoration: none;
}

/* Main content */
body {
	margin: 0;
	padding: 0;
	color: #3d3d3a;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	background-color: #d6d6ce;
	text-align: justify;
}
#main {
	margin: 0;
	width: 660px;
	margin: 0 auto;
	padding: 0 10px;
	/*padding: 20px 10px;*/
}
#top_Note {
	margin: 0;
	width: 660px;
	margin: 0 auto;
	padding: 63px 00 10px;
}
.note {
	padding: 0 0 5px 0;
	margin: -1px 0 10px 0;
	margin-right: 15px;
	padding: 9px;
	text-align: center;
	background: #c8c8bd;
	border: 1px solid #e8e8e3;
}
.alert {
	background: #e26161;
	display: flex;
}

.alertIcon {
	background-image: url('../images/warning.png');
	background-repeat: no-repeat;
	background-size: 100px 100px;
	min-height: 100px;
	min-width: 100px;
	float: left;
	margin-right: 5px;
}

.alertText {
	text-align: left;
	color: black;
	padding-top: 5px;
}

/* Links */
a, a:link, a:visited {
	color: #5b5b08;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.error {
	background-color: red;
}
/* Paragraphs */
p {
	margin: 0 0 10px 0;
	padding: 0;
}

/* Italics */
.italic {
	font-style: italic;
	margin: 0 0 0 10px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: normal;
}
h1 {
	font-size: 48px;
	margin: 0 0 30px;
	padding: 5px 0;
}
h2 {
	font-size: 30px;
	margin: 25px 0 20px;
	padding: 5px 0;
}
h3 {
	font-size: 24px;
	margin: 20px 0 15px;
	padding: 0;
}
h4 {
	font-size: 18px;
	margin: 0 0 15px;
	padding: 0;
}

/* Images */
img {
	margin: 10px 0 15px;
}

.optionDescription {
	padding: 0px;
	margin: 10px 0 5px 0;
}
.option {
	padding: 5px 0 5px 0;
	margin: 5px 0 10px 0;
	margin-right: 15px;
	padding: 9px;
	text-align: center;
	background: #c8c8bd;
	border: 1px solid #e8e8e3;
}
.selection {
	text-align: left;
}
#emf-form {
	padding: 5px 0 5px 0;
	margin: 5px 0 10px 0;
	margin-right: 15px;
	padding: 9px;
	text-align: center;
	background: #c8c8bd;
	border: 1px solid #e8e8e3;
}
#iconURL {
	width: 65%;
}

/* Footer */
#footer_wrapper {
	width: 100%;
	background: #50504d;
	border-top: 5px solid #e8e8e7;
}
#footer {
	width: 660px;
	margin: 0 auto;
	padding: 30px 10px;
}
#footer a {
	color: #fff;
}
#footer h5 {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 15px;
}
#footer {
	color: #bebeb2;
	font-size: 11px;
	text-align: center;
}
#footer ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer ul li {
	display: inline-block;
	height: 31px;
	line-height: 13px;
	padding: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	text-align: center;
}

/* Floating Message */
#error_message_container {
	margin: 0;
	width: 660px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.message_container {
	margin: 5px 0 10px 0;
	margin-right: 15px;
	padding: 8px 0 8px 8px;
	text-align: center;
	background: #c8c8bd;
	border: 1px solid #ED4337;
}

#betaTestersDiv {
	margin: 0 auto 0 auto;
	text-align: center;
	width: 660px;
}
