body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	margin-top: 0px;
	font-size: 100%;
}
.center-outer {
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
}

.center-container {
	text-align: center;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	height: 468px;
}

.center-inner {
	width: 675px;
	height: 540px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
	z-index: 2;
	position: relative;
}

.header {
	margin-top: 0.5%;
	width: 675px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#headerImage {
	background-image: url('../images/Profile-Image.gif');
	height: 170px;
	background-repeat: no-repeat;
	background-clip: padding-box;
	background-position: 50% 5%;
	width: 200px;
	margin-bottom: -4px;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
}

#headerText {
	display: inline-block;
	max-width: 460px;
	width: 100%;
	padding-bottom: 10%;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

#leftColumn {
	float: left;
	text-align: left;
	width: 49.5%;
	margin-right: 0.5%;
}

#rightColumn {
	float: right;
	width: 46%;
	padding-right: 0;
	margin-top: 60px;
	margin-right: 3.5%;
	text-align: justify;
	font-size: 17px;
}

}
.columns {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
}

.separator {
	border: 0;
	clear: both;
	height: 1px;
	background: #333;
	display: block;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.socialMediaList {
	text-align: left;
	width: 275px;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 0px;
	text-overflow: ellipsis;
}

#socialMediaListDoubleSpace {
	/* These should add to the height of the icon, In this case 48px */
	padding-top: 4px;
	height: 44px;
}
.socialMediaList li {
	list-style-type: none;
	background-repeat: no-repeat;
	padding-left: 55px;
	padding-bottom: 15px;
	/* These should add to the height of the icon, In this case 48px */
	padding-top: 14px;
	height: 34px;
}

a {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #2c87f0;
	text-decoration: none;
}
a:hover {
	color: #FF0057;
}
.h2 {
	font-size: 25px;
	font-weight: 340;
	display: block;
	color: #333;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-top: 5px;
}

.textAlign-left {
	text-align: left;
}

.textAlign-right {
	text-align: right;
}

.textAlign-center {
	text-align: center;
}

.bracket {
	font-size: 60px;
	width: 5%;
}
.bracket-counterpart {
	width: 95%;
}

.leftAlign {
	float: left;
}

#descText {
	margin-top: 4.5%;
}

.rightAlign {
	float: right;
}